*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
}

section{
    display: inline-flex;
}

.oval_background{
    box-sizing: border-box;
    width: fit-content;
    background-color: #FDF5F4;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.logo_grande{
    padding-left: 20px;
    padding-top: 200px;
}

.logo_grande img{
    width: 260px;
}

.button{
    position: absolute;
    width: 150px;
    bottom: 50px;
    right: 250px;
    background-color: #ee785b;
    box-sizing: border-box;
    border: solid 10px #ee785b;
    border-radius: 20%;
}

.button .entrar_volver{
    align-items: center;
    justify-content: center;
}

.entrar_volver a{
    padding-left: 35px;
    text-decoration: none;
    color: white;
    font-weight: 800;
}